@using DanceCompetitionHelper.Database.Enum;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Models.AdjudicatorModels;
@using DanceCompetitionHelper.Web.Models.ParticipantModels;
@using DanceCompetitionHelper.Web.Models.AdjudicatorPanelModels;

@model AdjudicatorPanelViewModel

@{
    var isCreate = Model.AdjudicatorPanelId.HasValue == false;

    ViewData["Title"] = string.Format(
        "{0} Adjudicator Panel for {1}",
        isCreate
            ? "Create new"
            : "Edit ",
        Model.CompetitionName);

    var formAction = isCreate
        ? nameof(AdjudicatorPanelController.CreateNew)
        : nameof(AdjudicatorPanelController.EditSave);
}

<div class="container text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>

    @foreach(var curError in Model.Errors)
    {
        <div class="row py-2 text-danger">
            <div class="col-md">
                @curError
            </div>
        </div>
    }

    <form asp-controller="@AdjudicatorPanelController.RefName"
          asp-action="@formAction" method="post">
        <input asp-for="CompetitionId" />
        <input asp-for="AdjudicatorPanelId" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Name
            </div>
            <div class="col-md-4">
                <input asp-for="Name"
                       class="form-control"
                       placeholder="Name"
                       autofocus="true"
                       style="width: 100%" />
                <span asp-validation-for="Name"
                      class="text-danger"></span>
            </div>
            <div class="col-md text-start">
                <label asp-for="Name"
                       class="control-label">
                    Name of Adjudicator
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Comment
            </div>
            <div class="col-md-4">
                <input asp-for="Comment"
                       class="form-control"
                       placeholder="Comment"
                       style="width: 100%" />
                <span asp-validation-for="Comment"
                      class="text-danger"></span>
            </div>
            <div class="col-md text-start">
                <label asp-for="Comment"
                       class="control-label">
                    Comment
                </label>
            </div>
        </div>
        <div class="hstack gap-2 justify-content-center">
            <input type="submit"
                   value="@(isCreate ? "Create" : "Save")"
                   class="btn btn-primary px-lg-4" />
            <a asp-controller="@AdjudicatorPanelController.RefName"
                asp-action="@nameof(AdjudicatorPanelController.Index)"
                asp-route-id="@Model.CompetitionId"
                class="btn btn-secondary px-lg-4">
                Cancel
            </a>
        </div>
        <br />
    </form>
</div>
