@using DanceCompetitionHelper.Database.Tables
@using DanceCompetitionHelper.Web.Controllers;

@{
    var useCompetitionClass = ViewData["Use" + nameof(CompetitionClass)] as Guid?;
    var currentViewName = (ViewData["CurrentShowing"] as string) ?? string.Empty;

    var currentControllerName = string.Empty;
    var currentControllerAction = string.Empty;

    if(ViewContext.RouteData.Values.TryGetValue(
        "controller",
        out var curControllerName)) 
    {
        currentControllerName = curControllerName?.ToString();
    }
    if(ViewContext.RouteData.Values.TryGetValue(
        "action",
        out var curControllerAction)) 
    {
        currentControllerAction = curControllerAction?.ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="expires" content="0" />
    <title>@ViewData["Title"] - DanceCompetitionHelper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Competition" asp-action="Index">DaCH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (useCompetitionClass != null)
                        {
                            <li class="nav-item ">
                                <a class="nav-link @(currentControllerName == CompetitionClassController.RefName && currentControllerAction == nameof(CompetitionClassController.Index) ? "active" : "")" asp-area=""
                                   asp-controller="@CompetitionClassController.RefName"
                                   asp-action="@nameof(CompetitionClassController.Index)"
                                   asp-route-id="@useCompetitionClass">Competition Classes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentControllerName == AdjudicatorPanelController.RefName ? "active" : "")" asp-area=""
                                   asp-controller="@AdjudicatorPanelController.RefName"
                                   asp-action="@nameof(AdjudicatorPanelController.Index)"
                                   asp-route-id="@useCompetitionClass">Adj. Panels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentControllerName == AdjudicatorController.RefName ? "active" : "")" asp-area=""
                               asp-controller="@AdjudicatorController.RefName"
                               asp-action="@nameof(AdjudicatorController.Index)"
                                   asp-route-id="@useCompetitionClass">Adjudicators</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentControllerName == ParticipantController.RefName ? "active" : "")" asp-area=""
                                   asp-controller="@ParticipantController.RefName"
                                   asp-action="@nameof(ParticipantController.Index)"
                                   asp-route-id="@useCompetitionClass">Participants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentControllerName == CompetitionClassController.RefName && currentControllerAction == nameof(CompetitionClassController.ShowMultipleStarters) ? "active" : "")" asp-area=""
                                   asp-controller="@CompetitionClassController.RefName"
                                   asp-action="@nameof(CompetitionClassController.ShowMultipleStarters)"
                                   asp-route-id="@useCompetitionClass">Multiple Starters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentControllerName == CompetitionClassController.RefName && currentControllerAction == nameof(CompetitionClassController.ShowPossiblePromotions) ? "active" : "")" asp-area=""
                                   asp-controller="@CompetitionClassController.RefName"
                                   asp-action="@nameof(CompetitionClassController.ShowPossiblePromotions)"
                                   asp-route-id="@useCompetitionClass">Promotions</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @(currentControllerName == ConfigurationController.RefName ? "active" : "")" asp-area=""
                               asp-controller="@ConfigurationController.RefName"
                               asp-action="@nameof(ConfigurationController.Index)"
                               asp-route-id="@useCompetitionClass">Config</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022-@DateTime.Now.ToString("yyyy") - DanceCompetitionHelper - <a asp-area="" asp-controller="Competition" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        /* I like ToolTips ;) */
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
