@using DanceCompetitionHelper.Database.Enum;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Models.CompetitionModels;

@model DoImportViewModel

@{
    var isCreate = Model.CompetitionId.HasValue == false;

    ViewData["Title"] = "Import new Competition";
}

<div class="container text-center">
    @if ((Model.Errors?.Count ?? 0) >= 1)
    {
        <div class="row py-2 text-danger">
            @foreach (var curError in Model.Errors ?? Enumerable.Empty<string>())
            {
                <div class="col-md">
                    @curError
                </div>
            }
        </div>
    }

    <form asp-controller="@CompetitionController.RefName"
          asp-action="@nameof(CompetitionController.DoImport)" 
          method="post"
          class="form-horizontal needs-validation border rounded"
          enctype="multipart/form-data"
          role="form">

        <input asp-for="CompetitionId" />
        <input asp-for="ImportType" value="@nameof(ImportTypeEnum.Url)" />
        <input asp-for="Organization" value="@nameof(OrganizationEnum.Oetsv)" />
        
        <div class="container">
            <div class="row row-cols-4 py-1">
                <div class="col-3 text-end">
                    ÖTSV ID
                </div>
                <div class="col-3">
                    <input asp-for="OrgCompetitionId"
                           class="form-control"
                           placeholder="ÖTSV ID"
                           autofocus
                           style="width: 100%" 
                           tabindex="1"/>
                    <span asp-validation-for="OrgCompetitionId"
                          class="text-danger"></span>
                </div>
                <div class="col-3 text-start">
                    <label asp-for="OrgCompetitionId"
                           class="control-label">
                        ÖTSV ID (e.g. 1234)
                    </label>
                </div>
                <div class="col-3 text-start">
                    <button class="btn btn-primary px-lg-4  bi bi-cloud-download" 
                            type="submit"
                            tabindex="10">
                        Create/Update
                    </button>
                </div>
            </div>
            <div class="row row-cols-4 py-1">
                <div class="col-3 text-end">
                    Find Follow Up
                </div>
                <div class="col-3 text-start">
                    <input asp-for="FindFollowUpClasses"
                           type="checkbox"
                           class="form-check-input" 
                           tabindex="2" />
                    <span asp-validation-for="FindFollowUpClasses"
                          class="text-danger"></span>
                </div>
                <div class="col-3 text-start">
                    &nbsp;
                </div>
                <div class="col-3 text-start">
                    &nbsp;
                </div>
            </div>
            <div class="row row-cols-4 py-1">
                <div class="col-3 text-end">
                    Update ÖTSV-Data
                </div>
                <div class="col-3 text-start">
                    <input asp-for="UpdateData"
                           type="checkbox"
                           class="form-check-input" 
                           tabindex="3" />
                    <span asp-validation-for="UpdateData"
                          class="text-danger"></span>
                </div>
                <div class="col-3 text-start">
                    &nbsp;
                </div>
                <div class="col-3 text-start">
                    &nbsp;
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="hstack gap-2 justify-content-center">
        <a asp-controller="@CompetitionController.RefName"
           asp-action="@nameof(CompetitionController.Index)"
           class="btn btn-secondary px-lg-4 bi bi-box-arrow-in-left"
           title="Back"
           tabindex="20">
           Back
        </a>
    </div>
    <br />
</div>
