@using DanceCompetitionHelper.Database.Enum;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Models.CompetitionModels;

@model CompetitionViewModel

@{
    var isCreate = Model.CompetitionId.HasValue == false;

    ViewData["Title"] = string.Format(
        "{0} Competition",
        isCreate
        ? "Create new"
        : "Edit");

    var formAction = isCreate
        ? nameof(CompetitionController.CreateNew)
        : nameof(CompetitionController.EditSave);
}

<div class="container text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>

    @foreach (var curError in Model.Errors)
    {
        <div class="row py-2 text-danger">
            <div class="col-md">
                @curError
            </div>
        </div>
    }

    <form asp-controller="@CompetitionController.RefName"
          asp-action="@formAction" method="post">
        <input asp-for="CompetitionId" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                CompetitionName
            </div>
            <div class="col-md-4">
                <input asp-for="CompetitionName"
                       class="form-control"
                       placeholder="Competition Name" 
                       autofocus="true"
                       style="width: 100%" />
                <span asp-validation-for="CompetitionName"
                      class="text-danger"></span>
            </div>
            <div class="col-md text-start">
                <label asp-for="CompetitionName" 
                       class="control-label">
                    Name of the competition
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Organization
            </div>
            <div class="col-md-4">
                <select asp-for="Organization" 
                        class="form-select"
                        placeholder="Org"
                        readonly
                        style="width: 100%">
                    <option selected value="@OrganizationEnum.Oetsv.ToString()">@OrganizationEnum.Oetsv.ToString()</option>
                </select>
                <span asp-validation-for="Organization"
                      class="text-danger">
                </span>
            </div>
            <div class="col-md text-start">
                <label asp-for="Organization"
                       class="control-label">
                    Name of the competition
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Organization Id
            </div>
            <div class="col-md-4">
                <input asp-for="OrgCompetitionId"
                       class="form-control"
                       placeholder="Internal Org Id" 
                       
                       style="width: 100%" />
                <span asp-validation-for="OrgCompetitionId"
                      class="text-danger">
                </span>
            </div>
            <div class="col-md text-start">
                <label asp-for="OrgCompetitionId"
                       class="control-label">
                    Internal ID of your organization
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Info
            </div>
            <div class="col-md-4">
                <input asp-for="CompetitionInfo"
                       class="form-control"
                       placeholder="Extra info"
                       style="width: 100%" />
            </div>
            <div class="col-md text-start">
                <label asp-for="CompetitionInfo"
                       class="control-label">
                    Extra infos for this Competition
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Competition Date
            </div>
            <div class="col-md-4">
                <input asp-for="CompetitionDate"
                       class="form-control"
                       
                       style="width: 100%" />
                <span asp-validation-for="CompetitionDate"
                      class="text-danger">
                </span>

            </div>
            <div class="col-md text-start">
                <label asp-for="CompetitionDate"
                       class="control-label">
                    Date of this Competition
                </label>
            </div>
        </div>
        <div class="row row-cols-3 py-1">
            <div class="col-md text-end">
                Comment
            </div>
            <div class="col-md-4">
                <input asp-for="Comment"
                       class="form-control"
                       placeholder="Comment"
                       style="width: 100%" />
                <span asp-validation-for="Comment"
                      class="text-danger"></span>
            </div>
            <div class="col-md text-start">
                <label asp-for="Comment"
                       class="control-label">
                    Comment for this Competition
                </label>
            </div>
        </div>
        <div class="hstack gap-2 justify-content-center">
            <input type="submit" 
                   value="@(isCreate ? "Create" : "Save")" 
                   class="btn btn-primary px-lg-4" />
            <a asp-controller="@CompetitionController.RefName"
                asp-action="@nameof(CompetitionController.Index)"
                class="btn btn-secondary px-lg-4">
                Cancel
            </a>
        </div>
        <br />
    </form>
</div>
