@using DanceCompetitionHelper.Database.DisplayInfo;
@using DanceCompetitionHelper.Database.Extensions;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Extensions;
@using DanceCompetitionHelper.Web.Models;
@using DanceCompetitionHelper.Web.Models.CompetitionClassModels;

@model CompetitionClassOverviewViewModel

@{
    var compInfo = Model.Competition;
    var compInfoStr = compInfo.GetCompetitionName();
    var competitionClassesCount = Model.OverviewItems?.Count() ?? 0;

    ViewData["Title"] = string.Format(
        Model.DetailedView
            ? "{0} Competition Class Details of {1}"
            : "{0} Competition Classes of {1}",
        competitionClassesCount,
        compInfoStr);
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>

    <div class="table-responsive-xxl">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Competition Class (@competitionClassesCount)
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        Adj. Panel
                    </th>

                    @if (Model.DetailedView)
                    {
                        <th>
                            Discipline
                        </th>
                        <th>
                            AgeClass
                        </th>
                        <th>
                            AgeGroup
                        </th>
                        <th>
                            Class
                        </th>
                    }

                    <th>
                        Ignore
                    </th>
                    <th>
                        Reg + 'Win' + 'Prom' + Man
                    </th>
                    <th>
                        Multi Starter
                    </th>
                    <th>
                        Needed Rounds
                    </th>
                    <th>
                        Points (F)
                    </th>
                    <th>
                        Prom. Min. (S / P)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OverviewItems ?? Enumerable.Empty<CompetitionClass>())
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(modelItem => item.CompetitionClassName)
                            (@Html.DisplayFor(modelItem => item.OrgClassId))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AdjudicatorPanel.Name)
                        </td>

                        @if (Model.DetailedView)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Discipline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgeClass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgeGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class)
                            </td>
                        }

                        <td>
                            @Html.DisplayFor(modelItem => item.Ignore)
                        </td>
                        <td class="text-nowrap">
                            <div class="row row-cols justify-content-center">
                                @{
                                    var toolTipString = string.Empty;

                                    toolTipString += item.DisplayInfo?.ExtraParticipants?.ByWinningInfo;
                                    toolTipString += " / " + item.DisplayInfo?.ExtraParticipants?.ByPromotionInfo;
                                    toolTipString = toolTipString.Trim();
                                    toolTipString = toolTipString.Trim('/');

                                    if(string.IsNullOrEmpty(toolTipString)
                                        || toolTipString == "/")
                                    {
                                        toolTipString = "-";
                                    }
                                }
                                <div class="col-auto text-end"
                                     data-bs-toggle="tooltip"
                                     data-bs-custom-class="custom-tooltip"
                                     data-bs-title="@(toolTipString)">
                                    <a asp-controller="@ParticipantController.RefName"
                                       asp-action="@nameof(ParticipantController.Index)"
                                       asp-route-id="@item.CompetitionId">
                                        @(item.DisplayInfo?.CountParticipants ?? -1)
                                        + @(item.DisplayInfo?.ExtraParticipants.ByWinning ?? -1)
                                        + @(item.DisplayInfo?.ExtraParticipants.ByPromotion ?? -1)
                                        + @(item.ExtraManualStarter)
                                        = @((item.DisplayInfo?.CountParticipants ?? 0)
                                          + (item.DisplayInfo?.ExtraParticipants.ByWinning ?? 0)
                                          + (item.DisplayInfo?.ExtraParticipants.ByPromotion ?? 0)
                                          + (item.ExtraManualStarter))
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="text-nowrap">
                            <div class="row row-cols justify-content-center">
                                @{
                                    var multiStartInfo = item.DisplayInfo?.CountMultipleStartersInfo ?? "-";
                                    if(string.IsNullOrEmpty(multiStartInfo))
                                    {
                                        multiStartInfo = "-";
                                    }
                                }
                                <div class="col-auto text-end"
                                     data-bs-toggle="tooltip"
                                     data-bs-custom-class="custom-tooltip"
                                 data-bs-title="@multiStartInfo">
                                    <a asp-controller="@CompetitionClassController.RefName"
                                       asp-action="@nameof(CompetitionClassController.ShowMultipleStarters)"
                                       asp-route-id="@item.CompetitionId">
                                        @(item.DisplayInfo?.CountMultipleStarters ?? -1)
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            ~ @(item.DisplayInfo?.NeededRounds ?? -1)
                        </td>
                        <td>
                            @(item.PointsForFirst)
                        </td>
                        <td class="text-nowrap">
                            @(item.MinStartsForPromotion) / @(item.MinPointsForPromotion) 
                        </td>

                        <td class="text-nowrap">
                            <a asp-controller="@CompetitionClassController.RefName"
                               asp-action="@nameof(CompetitionClassController.ShowEdit)"
                               asp-route-id="@item.CompetitionClassId">Edit</a> |
                            <a asp-controller="@CompetitionClassController.RefName"
                               asp-action="@nameof(CompetitionController.Delete)"
                               asp-route-id="@item.CompetitionClassId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Competition Class (@competitionClassesCount)
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        Adj. Panel
                    </th>

                    @if (Model.DetailedView)
                    {
                        <th>
                            Discipline
                        </th>
                        <th>
                            AgeClass
                        </th>
                        <th>
                            AgeGroup
                        </th>
                        <th>
                            Class
                        </th>
                    }
                    <th>
                        Ignore
                    </th>
                    <th>
                        Reg + 'Win' + 'Prom' + Man
                    </th>
                    <th>
                        Multi Starter
                    </th>
                    <th>
                        Needed Rounds
                    </th>
                    <th>
                        Points (F)
                    </th>
                    <th>
                        Prom. Min. (S / P)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row d-flex justify-content-center py-1">
        <div class="col">
            <a asp-controller="@CompetitionClassController.RefName"
               asp-action="@nameof(CompetitionClassController.ShowCreateEdit)"
               asp-route-id="@Model.Competition?.CompetitionId"
               class="btn btn-primary px-lg-4">
                Create new
            </a>
            &nbsp;
            <a asp-controller="@CompetitionController.RefName"
               asp-action="@nameof(CompetitionController.Index)"
               class="btn btn-secondary px-lg-4">
                Back
            </a>
            |
            @if (Model.DetailedView)
            {
                <a asp-controller="@CompetitionClassController.RefName"
                   asp-action="@nameof(CompetitionClassController.Index)"
                   asp-route-id="@Model.Competition?.CompetitionId"
                   class="btn btn-primary px-lg-4">
                    Normal View
                </a>
            }
            else
            {
                <a asp-controller="@CompetitionClassController.RefName"
                   asp-action="@nameof(CompetitionClassController.DetailedView)"
                   asp-route-id="@Model.Competition?.CompetitionId"
                   class="btn btn-primary px-lg-4">
                    Detailed View
                </a>
            }
        </div>
    </div>
</div>

