@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;

@model CompetitionClassOverviewViewModel

@{
    var compInfo = Model.Competition;

    var compInfoStr = string.Format(
        "{0} ({1})",
        compInfo?.CompetitionName ?? "??",
        compInfo?.OrgCompetitionId ?? "??");

    ViewData["Title"] = string.Format(
        "Competition Classes of {0}",
        compInfoStr);
}

<div class="text-center">
    <h1 class="display-6">Available Competition Classes of @compInfoStr</h1>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <!-- @Html.DisplayNameFor(model => model.CompetitionClasses) -->
                    Competition Class
                </th>
                <th>
                    Ignore
                </th>
                <th>
                    Participants
                </th>
                <th>
                    Possible extras (W / P)
                </th>
                <th>
                    Multi Starter
                </th>
                <th>
                    Needed Rounds
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompetitionClasses ?? Enumerable.Empty<CompetitionClass>())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompetitionClassName)
                        (@Html.DisplayFor(modelItem => item.OrgClassId))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ignore)
                    </td>
                    <td>
                        @(item.DisplayInfo?.CountParticipants ?? -1)
                    </td>
                    <td>
                        @(item.DisplayInfo?.ExtraParticipants.ByWinning ?? -1) /
                        @(item.DisplayInfo?.ExtraParticipants.ByPromotion ?? -1)
                    </td>
                    <td>
                        @(item.DisplayInfo?.CountMultipleStarters)
                    </td>
                    <td>
                        @(item.DisplayInfo?.NeededRounds ?? -1)
                    </td>
                    
                    <td>
                        <a asp-controller="@CompetitionClassController.RefName"
                           asp-action="@nameof(CompetitionClassController.ShowEdit)"
                           asp-route-id="@item.CompetitionClassId">Edit</a> |
                        <a asp-controller="@CompetitionClassController.RefName"
                           asp-action="@nameof(CompetitionController.Delete)"
                           asp-route-id="@item.CompetitionClassId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div class="row d-flex justify-content-center py-1">
        <div class="col">
            <a asp-controller="@CompetitionClassController.RefName"
               asp-action="@nameof(CompetitionClassController.ShowCreateEdit)"
               asp-route-id="@Model.Competition?.CompetitionId"
               class="btn btn-primary">
               Create new
            </a>
            &nbsp;
            <a asp-controller="@CompetitionController.RefName"
               asp-action="@nameof(CompetitionController.Index)"
               class="btn btn-secondary px-lg-4">
                Back
            </a>
        </div>
    </div>
</div>

