@using DanceCompetitionHelper.Database.DisplayInfo;
@using DanceCompetitionHelper.Database.Extensions;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Extensions;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Extensions;

@model ShowPossiblePromotionsViewModel

@{
    var compInfo = Model.Competition;
    var compInfoStr = compInfo.GetCompetitionName();
    var multipleStartersCount = Model.MultipleStarters?.Count() ?? 0;
    var possiblePromotionsCount = Model.PossiblePromotions?.Count() ?? 0;

    ViewData["Title"] = string.Format(
        "{0} Possible Promotions of {1}",
        possiblePromotionsCount,
        compInfoStr);

    var displayInfoCompClasses = new List<(string ClassName, Guid ClassId)>(
        Model.MultipleStarters
            ?.SelectMany(
                x => x.CompetitionClasses)
            .OrderBy(
                x => x.OrgClassId)
            .Select(
                x => (x.GetCompetitionClassName(), 
                    x.CompetitionClassId))
            .Distinct()
            ?? Enumerable.Empty<(string, Guid)>());

    var participantsClasses = new Dictionary<Guid, List<CompetitionClass>>();
    var isSameParticipant = new Dictionary<Guid, Guid>();

    foreach (var curPossPromotion in Model.PossiblePromotions ?? Enumerable.Empty<Participant>())
    {
        participantsClasses.AddToBucket(
            curPossPromotion.ParticipantId,
            curPossPromotion.CompetitionClass);
    }

    foreach (var curMultiStarter in Model.MultipleStarters ?? Enumerable.Empty<MultipleStarter>())
    {
        var firstPart = Guid.Empty;
        foreach(var curPart in curMultiStarter.Participants)
        {
            if(firstPart == Guid.Empty)
            {
                firstPart = curPart.ParticipantId;
            }

            isSameParticipant[curPart.ParticipantId] = firstPart;
        }

        foreach(var curInfo in curMultiStarter.GetCompetitionClassesOfParticipants())
        {
            participantsClasses.AddToBucket(
                firstPart,
                curInfo.CompetitionClass,
                true);
        }
    }
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>


    @foreach (var curPossPromotion in Model.PossiblePromotions ?? Enumerable.Empty<Participant>())
    {
        <div class="table-responsive-xxl">
            @{
                var curPartClasses = participantsClasses[curPossPromotion.ParticipantId];
            }
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>

                        @foreach (var curClass in curPartClasses)
                        {
                            <th>
                                @curClass.GetCompetitionClassName()
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            @(curPossPromotion.GetNames())
                        </td>

                        @foreach (var curDisplayInfo in curPartClasses)
                        {
                            <td>
                                 @curDisplayInfo.OrgClassId
                            </td>
                        }
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            Name
                        </th>

                        @foreach (var curClass in curPartClasses)
                        {
                            <th>
                                @curClass.GetCompetitionClassName()
                            </th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    }
        
    <div class="row d-flex justify-content-center py-1">
        <div class="col">
            <a asp-controller="@CompetitionClassController.RefName"
               asp-action="@nameof(CompetitionClassController.Index)"
               asp-route-id="@Model.Competition?.CompetitionId"
               class="btn btn-primary px-lg-4">
               Back
            </a>
        </div>
    </div>
</div>

