@using DanceCompetitionHelper.Database.DisplayInfo;
@using DanceCompetitionHelper.Database.Extensions;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Extensions;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Extensions;

@model ShowPossiblePromotionsViewModel

@{
    var compInfo = Model.Competition;
    var compInfoStr = compInfo.GetCompetitionName();
    var possiblePromotionsCount = Model.ParticipantPromotionInfo.Count();

    ViewData["Title"] = string.Format(
        "{0} Possible Promotions of {1}",
        possiblePromotionsCount,
        compInfoStr);

    var displayInfoCompClasses = new List<(string ClassName, Guid ClassId)>(
        Model.ParticipantPromotionInfo
            ?.SelectMany(
                x => x.CompetitionClasses)
            .OrderBy(
                x => x.OrgClassId)
            .Select(
                x => (x.GetCompetitionClassName(), 
                    x.CompetitionClassId))
            .Distinct()
            ?? Enumerable.Empty<(string, Guid)>());
    var displayInfoCompClassesIds = new List<Guid>(
        displayInfoCompClasses.Select(
            x => x.ClassId));    
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>


    @foreach (var curPossPromotion in Model.ParticipantPromotionInfo ?? Enumerable.Empty<ParticipantPromotionInfo>())
    {
        <div class="table-responsive-xxl">
            @{
                // var curPartClasses = participantsClasses[curPossPromotion.ParticipantId];
            }
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>

                        @foreach (var curClass in curPossPromotion.GetCompetitionClassOrderedBy(displayInfoCompClassesIds))
                        {
                            <th>
                                @curClass.GetCompetitionClassName()
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            @(curPossPromotion.GetNames())
                        </td>

                        @foreach (var curClass in curPossPromotion.GetCompetitionClassOrderedBy(displayInfoCompClassesIds))
                        {
                            <td>
                                @curClass.OrgClassId
                            </td>
                        }
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            Name
                        </th>

                        @foreach (var curClass in curPossPromotion.GetCompetitionClassOrderedBy(displayInfoCompClassesIds))
                        {
                            <th>
                                @curClass.GetCompetitionClassName()
                            </th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    }
        
    <div class="row d-flex justify-content-center py-1">
        <div class="col">
            <a asp-controller="@CompetitionClassController.RefName"
               asp-action="@nameof(CompetitionClassController.Index)"
               asp-route-id="@Model.Competition?.CompetitionId"
               class="btn btn-primary px-lg-4">
               Back
            </a>
        </div>
    </div>
</div>

