@using DanceCompetitionHelper.Database.Extensions;
@using DanceCompetitionHelper.Database.Tables;
@using DanceCompetitionHelper.Web.Controllers;
@using DanceCompetitionHelper.Web.Extensions;
@using DanceCompetitionHelper.Web.Models.AdjudicatorModels;
@using DanceCompetitionHelper.Web.Models.ParticipantModels;
@using DanceCompetitionHelper.Web.Models.CompetitionVenueModels;

@model CompetitionVenueOverviewViewModel

@{
    var compInfo = Model.Competition;
    var compInfoStr = compInfo.GetCompetitionName();
    var adjudicatorsCount = Model.OverviewItems?.Count() ?? 0;

    ViewData["Title"] = string.Format(
        Model.DetailedView
            ? "{0} Venue Details of {1}"
            : "{0} Venues of {1}",
        adjudicatorsCount,
        compInfoStr);
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    
    <div class="table-responsive-xxl">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Dimensions (m)
                    </th>
                    <th>
                        Comment
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OverviewItems ?? Enumerable.Empty<CompetitionVenue>())
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(modelItem => item.Name)                            
                        </td>
                        <td>
                            @item.LengthInMeter / @item.WidthInMeter
                            (@(item.LengthInMeter * @item.WidthInMeter) m<sup>2</sup>)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="text-nowrap">
                            <a asp-controller="@CompetitionVenueController.RefName"
                               asp-action="@nameof(CompetitionVenueController.ShowEdit)"
                               asp-route-id="@item.CompetitionVenueId">Edit</a> |
                            <a asp-controller="@CompetitionVenueController.RefName"
                               asp-action="@nameof(CompetitionVenueController.Delete)"
                               asp-route-id="@item.CompetitionVenueId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Dimensions (m)
                    </th>
                    <th>
                        Comment
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="hstack gap-2 justify-content-center">
        <a asp-controller="@CompetitionVenueController.RefName"
           asp-action="@nameof(CompetitionVenueController.ShowCreateEdit)"
           asp-route-id="@Model.Competition?.CompetitionId"
           class="btn btn-primary px-lg-4">
            Create new
        </a>
        <a asp-controller="@CompetitionClassController.RefName"
           asp-action="@nameof(CompetitionClassController.Index)"
           asp-route-id="@Model.Competition?.CompetitionId"
           class="btn btn-secondary px-lg-4">
            Back
        </a>
    </div>
    <br />
</div>
